---
driver:
  name: vagrant

provisioner:
  name: chef_solo

platforms:
  - name: lucid32
    driver:
      box: lucid32
      box_url: http://files.vagrantup.com/lucid32.box

suites:
  - name: default
    run_list:
      - recipe[apps::default]
    attributes:
